body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

#outer {
  width: 400px;
  height: 500px;
  background-color: #41d1b0;;
  display: flex;
  flex-direction: column;
  border: 0px solid white;
  border-radius: 20px;
}
#inner {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  justify-content: space-evenly;
}
input {
  width: 200px;
  height: 50px;
  border: 0px solid white;
  border-radius: 25px;
  padding: 0px 60px 0px 20px;
}
#icon {
  margin-left: -16px;
  width: 50px;
  height: 50px;
  border: 0px solid white;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
#outerimg {
  display: flex;
  justify-content: center;
  margin-top: 20px;
 
}
#degree {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: white;
}
#city {
  font-size: 60px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
}
#endpart {
  margin-top: 30px;
  font-size: 15px;
  font-weight: 100;
  font-family: "Poppins", sans-serif;
  color: white;
  display: flex;
  justify-content: space-around;
} 
